@mixin clearFix{
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}
//Media query manager
/*
0-600 Phone
600-900 Tab Portrait
900-1220 Tob Landscape
1200 - 1800 is where current normal style apply
1800+ Big Desktop
*/
/*
Breakpoints
-phone
-tab-port
-tab-land
-big-desktop
*/

/*
1em = 16px
ORDER : Base+ typography > general layouts + grid > page layout > components
*/
@mixin respond($breakpoints){
  @if $breakpoints == phone{
    @media (max-width: 37.5em) { //600px
      @content
    }
  }
  @if $breakpoints == tab-port{
    @media screen and (max-width: 56.25rem) { //900px
      @content
    }
  }
  @if $breakpoints == tab-land{
    @media (max-width: 75em) { //1200px
      @content
    }
  }
  @if $breakpoints == big-desktop{
    @media (min-width: 112.5em) { //1800+
      @content
    }
  }
}